

.video-player {
    height: calc(100% - 62px);
    background: #000;
    position: relative;
    .controls {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        background-color: rgba(43, 51, 63, 0.7);
        color: #fff;
        width: 100%;
        z-index: 1000000000;
        &.controls-custom{
             background-color: rgba(43, 51, 63, 0.9);
        }
        span {
            padding: 10px 20px;
            &.icon:hover {
                cursor: pointer;
                background-color: rgba(115, 133, 159, 0.7);
            }
        }
        :global{
            .anticon {
                svg{
                    display: inline-block !important
                }
            }
        }
        
    }
    video::-webkit-media-controls {
        display:none !important;
    }
    svg{
        display: inline-block !important
    }
}

.processWrapper {
    display: flex;
    align-items: center;
    .inner {
        position: relative;
        width: 100%;
        height: 27px;
    }
    input[type='range'] {
        height: 27px;
        -webkit-appearance: none;
        width: 100%;
        background: none;
    }
    input[type='range']:focus {
        outline: none;
    }
    input[type='range']::-webkit-slider-runnable-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        box-shadow: 0px 0px 0px #000000;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 0;
        border: 0px solid #000000;
    }
    input[type='range']::-webkit-slider-thumb {
        box-shadow: 0px 0px 4px #000000;
        border: 1px solid #ffffff;
        height: 15px;
        width: 15px;
        border-radius: 25px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -6.5px;
        z-index: 100;
    }
    input[type='range']:focus::-webkit-slider-runnable-track {
        background: rgba(0, 0, 0, 0.7);
    }
    input[type='range']::-moz-range-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        box-shadow: 0px 0px 0px #000000;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 0;
        border: 0px solid #000000;
    }
    input[type='range']::-moz-range-thumb {
        box-shadow: 0px 0px 4px #000000;
        border: 1px solid #ffffff;
        height: 15px;
        width: 15px;
        border-radius: 25px;
        background: #ffffff;
        cursor: pointer;
        z-index: 100;
    }
    input[type='range']::-ms-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
    input[type='range']::-ms-fill-lower {
        background: rgba(0, 0, 0, 0.7);
        border: 0px solid #000000;
        border-radius: 4px;
        box-shadow: 0px 0px 0px #000000;
    }
    input[type='range']::-ms-fill-upper {
        background: rgba(0, 0, 0, 0.7);
        border: 0px solid #000000;
        border-radius: 4px;
        box-shadow: 0px 0px 0px #000000;
    }
    input[type='range']::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 4px #000000;
        border: 1px solid #ffffff;
        height: 15px;
        width: 15px;
        border-radius: 25px;
        background: #ffffff;
        cursor: pointer;
        z-index: 100;
    }
    input[type='range']:focus::-ms-fill-lower {
        background: rgba(0, 0, 0, 0.7);
    }
    input[type='range']:focus::-ms-fill-upper {
        background: rgba(0, 0, 0, 0.7);
    }

    .loaded {
        display: block;
        padding-right: 15px;
        position: absolute;
        top: 12px;
        left: 0;
        z-index: 10;
        width: 100%;
        span {
            display: block;
            background-color: #f76d1e;
            height: 3px;
            border-radius: 0;
            padding: 0;
        }
    }
    time {
        width: 70px;
        font-size: 12px;
        font-weight: bold;
        text-align: right;
        color: #333333;
    }
}
.iconBig {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-size: 45px;
    line-height: 80px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    &.hidden{
        display: none
    }
}
