
.videoCourse{
    position: relative;
    height: calc(100% - 62px);   
    overflow: hidden;
    width: 100%;
    :global{
        .example-video-dimensions{
            width: 100% !important;
            height: 100% !important;
        }
        .vjs-tech{
            width: 100%;
            height: 100%;
        }
        .video-js{
            display: block;
            width: 100%;
            height: 100%;
         }
         .video-js .vjs-big-play-button{
            background-color: #00ff00 !important;
            position: absolute;
            top: 50%;
            left: 50%;
         }
         .video-js .vjs-control {
            position: relative;
            text-align: center; 
            margin: 0;
            padding: 0;
            height: 100%;
            width: 4em;
            -webkit-box-flex: none;
            -moz-box-flex: none;
            -webkit-flex: none;
            -ms-flex: none;
            flex: none;
         }
         
         .video-js .vjs-control-bar {
            display: none;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 3.0em;
            background-color: #2B333F;
            background-color: rgba(#2B333F, 0.5);
          }
          
          // Video has started playing
          .vjs-has-started .vjs-control-bar {
            display: flex;
            visibility: visible;
            opacity: 1;
            transition: visibility 0.1s, opacity 0.1s ;
            
          }
          
          // Video has started playing AND user is inactive
          .vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
            // Remain visible for screen reader and keyboard users
            visibility: visible;
            opacity: 0;
            transition: visibility 0.1s, opacity 0.1s ;
          
          }
          
          .vjs-controls-disabled .vjs-control-bar,
          .vjs-using-native-controls .vjs-control-bar,
          .vjs-error .vjs-control-bar {
            // !important is ok in this context.
            display: none !important;
          }
          
          // Don't hide the control bar if it's audio
          .vjs-audio.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
            opacity: 1;
            visibility: visible;
          }          
          // no flex support
          .vjs-has-started.vjs-no-flex .vjs-control-bar {
            display: table;
          } 
          .vjs-modal-dialog-content{
              display: none;
          }  
          .vjs-error-display, .vjs-modal-dialog{
              display: none;
          } 
          
.video-js:not(.vjs-fullscreen) {

    &.vjs-layout-small,
    &.vjs-layout-x-small,
    &.vjs-layout-tiny {
      .vjs-current-time,
      .vjs-time-divider,
      .vjs-duration,
      .vjs-remaining-time,
      .vjs-playback-rate,
      .vjs-chapters-button,
      .vjs-descriptions-button,
      .vjs-captions-button,
      .vjs-subtitles-button,
      .vjs-audio-button,
      .vjs-volume-control {
        display: none;
      }
  
      // Reset the size of the volume panel to the default so we don't see a big
      // empty space to the right of the mute button.
      .vjs-volume-panel.vjs-volume-panel-horizontal:hover,
      .vjs-volume-panel.vjs-volume-panel-horizontal:active,
      .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-slider-active {
        width: auto;
        width: initial;
      }
    }
  
    // Hide the subs-caps button for non-Live UI "x-small" and for "tiny" players.
    &.vjs-layout-x-small:not(.vjs-liveui),
    &.vjs-layout-x-small:not(.vjs-live),
    &.vjs-layout-tiny {
      .vjs-subs-caps-button {
        display: none;
      }
    }
  
    // With the new Live UI, we can have the same treatment as "tiny". At
    // "x-small", the Live UI makes the progress control very small and almost
    // useless.
    &.vjs-layout-x-small.vjs-liveui,
    &.vjs-layout-tiny {
  
      .vjs-custom-control-spacer {
       flex: auto;
        display: block;
      }
  
      &.vjs-no-flex .vjs-custom-control-spacer {
        width: auto;
      }
  
      .vjs-progress-control {
        display: none;
      }
    }
  }
  // .vjs-progress-control / ProgressControl
//
// This is the container for all progress bar-related components/elements.
.video-js .vjs-progress-control {
    cursor: pointer;
   flex:auto;
    display: flex;
    align-items: center;
    min-width: 4em;
    touch-action: none;
  }
  
  .video-js .vjs-progress-control.disabled {
    cursor: default;
  }
  
  .vjs-live .vjs-progress-control {
    display: none;
  }
  
  .vjs-liveui .vjs-progress-control {
      display: flex;
      align-items: center;   
  }
  
  .vjs-no-flex .vjs-progress-control {
    width: auto;
  }
  
  // .vjs-progress-holder / SeekBar
  //
  // Box containing play and load progress bars. It also acts as seek scrubber.
  .video-js .vjs-progress-holder {
    flex: auto;
    transition: all 0.2s;
    height: 0.3em;
  }
  
  .video-js .vjs-progress-control .vjs-progress-holder {
    margin: 0 10px;
  }
  
  // This increases the size of the progress holder so there is an increased
  // hit area for clicks/touches.
  .video-js .vjs-progress-control:hover .vjs-progress-holder {
    font-size: 1.666666666666666666em;
  }
  
  .video-js .vjs-progress-control:hover .vjs-progress-holder.disabled {
    font-size: 1em;
  }
  
  // .vjs-play-progress / PlayProgressBar and .vjs-load-progress / LoadProgressBar
  //
  // These are bars that appear within the progress control to communicate the
  // amount of media that has played back and the amount of media that has
  // loaded, respectively.
  .video-js .vjs-progress-holder .vjs-play-progress,
  .video-js .vjs-progress-holder .vjs-load-progress,
  .video-js .vjs-progress-holder .vjs-load-progress div {
    position: absolute;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    // updated by javascript during playback
    width: 0;
  }

//   spinner
.vjs-loading-spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    opacity: 0.85;
    text-align: left;
    border: 6px solid rgba(43, 51, 63, 0.7);
    box-sizing: border-box;
    background-clip: padding-box;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    visibility: hidden;
  }
  
  .vjs-seeking .vjs-loading-spinner,
  .vjs-waiting .vjs-loading-spinner {
    display: block;
    -webkit-animation: vjs-spinner-show 0s linear 0.3s forwards;
            animation: vjs-spinner-show 0s linear 0.3s forwards;
  }
  
  .vjs-loading-spinner:before,
  .vjs-loading-spinner:after {
    content: "";
    position: absolute;
    margin: -6px;
    box-sizing: inherit;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    opacity: 1;
    border: inherit;
    border-color: transparent;
    border-top-color: white;
  }
  
  .vjs-seeking .vjs-loading-spinner:before,
  .vjs-seeking .vjs-loading-spinner:after,
  .vjs-waiting .vjs-loading-spinner:before,
  .vjs-waiting .vjs-loading-spinner:after {
    -webkit-animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-fade 1.1s linear infinite;
    animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-fade 1.1s linear infinite;
  }
  
  .vjs-seeking .vjs-loading-spinner:before,
  .vjs-waiting .vjs-loading-spinner:before {
    border-top-color: white;
  }
  
  .vjs-seeking .vjs-loading-spinner:after,
  .vjs-waiting .vjs-loading-spinner:after {
    border-top-color: white;
    -webkit-animation-delay: 0.44s;
    animation-delay: 0.44s;
  }
  
  @keyframes vjs-spinner-show {
    to {
      visibility: visible;
    }
  }
  @-webkit-keyframes vjs-spinner-show {
    to {
      visibility: visible;
    }
  }
  @keyframes vjs-spinner-spin {
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes vjs-spinner-spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes vjs-spinner-fade {
    0% {
      border-top-color: #73859f;
    }
    20% {
      border-top-color: #73859f;
    }
    35% {
      border-top-color: white;
    }
    60% {
      border-top-color: #73859f;
    }
    100% {
      border-top-color: #73859f;
    }
  }
  @-webkit-keyframes vjs-spinner-fade {
    0% {
      border-top-color: #73859f;
    }
    20% {
      border-top-color: #73859f;
    }
    35% {
      border-top-color: white;
    }
    60% {
      border-top-color: #73859f;
    }
    100% {
      border-top-color: #73859f;
    }
  }
    //   mute controls
    .vjs-icon-volume-mute, .video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder {
        font-family: VideoJS;
        font-weight: normal;
        font-style: normal;
      }
      .vjs-icon-volume-mute:before, .video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before {
        content: "\f104";
      }
      
      .vjs-icon-volume-low, .video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder {
        font-family: VideoJS;
        font-weight: normal;
        font-style: normal;
      }
      .vjs-icon-volume-low:before, .video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before {
        content: "\f105";
      }
      
      .vjs-icon-volume-mid, .video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder {
        font-family: VideoJS;
        font-weight: normal;
        font-style: normal;
      }
      .vjs-icon-volume-mid:before, .video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before {
        content: "\f106";
      }
      
      .vjs-icon-volume-high, .video-js .vjs-mute-control .vjs-icon-placeholder {
        font-family: VideoJS;
        font-weight: normal;
        font-style: normal;
      }
      .vjs-icon-volume-high:before, .video-js .vjs-mute-control .vjs-icon-placeholder:before {
        content: "\f107";
      }

  
    }
  
}


